.card{
    overflow: hidden;
    border-radius: 15px;
    transition: 250ms;
}

.card:hover{
    scale: 1.03;
}

.cardButton{
    width: 450px;
    height: 253px;
    overflow: hidden;
    background-color: grey;
}

.buttonImage{
    object-fit: contain;
}